.constructor {
  margin-top: 100px;
  width: 100%;
  max-width: 600px;
}

.list {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 464px;
  padding: 0 8px 0 0;
}

.item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.item:last-of-type {
  margin-bottom: 0;
}

.list::-webkit-scrollbar {
  background: #2F2F37;
  width: 8px;
  margin-bottom: 20px;
}

.list::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end
}
