.modals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  border-radius: 40px;
  width: 100%;
  max-width: 720px;
  background-color: #1C1C21;
}
