.header {
    box-sizing: border-box;
    background-color: var(--background);
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    max-width: 383px;

}

.list {
    justify-content: space-between;
    display: flex;
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
}

.link {
    padding-left: 8px;
    text-decoration: none;
    color: var(--text-inactive-color);
}

.account {
    display: flex;
    align-items: center;
}